PG_HOST=10.31.202.12
PG_PORT=5432
PG_DB=aerotec_datawarehouse
PG_USER=adminglobasoft
PG_PASSWORD=Globa1909

# Render impose SSL
PG_SSLMODE=require

# GESTION DE LOGS
LOG_DIR=logs 
LOG_LEVEL=INFO
LOG_ROTATE=time        # rotation quotidienne à minuit
LOG_BACKUP_COUNT=365   # ~12 mois de rétention (ajuste si tu veux)
LOG_UNIFIED=1          # un seul fichier partagé par tous les modules
LOG_FILE_NAME=extracteur.log
